#counter {
    font-size: 100px;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

#btnContainer {
display: flex;
justify-content: center;
align-items: center;
}

.buttons {
    padding: 10px 20px;
    margin: 4px;
    font-size: 16px;
    background-color: beige;
    border-radius: 75px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttons:hover {
    background-color: cyan;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}